<!DOCTYPE html>
<html>
<head>
  <title>The Nail Parlor</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
  <div class="navbar-fixed">
    <nav class="transparent z-depth-0">
      <div class="container">
        <div class="nav-wrapper">
          <a href="<%= root_path %>" class="brand-logo">THE NAIL PARLOR</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse" style="color: #000;background: #ffffff75;
    padding-left: 10px;padding-right: 10px;"><i class="material-icons">menu</i></a>

          <% if current_page?(root_path)%>
            <ul class="right hide-on-med-and-down">
              <li><a href="<%= root_path%>">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="<%= new_prmotion_path %>">Services</a></li>
              <li><a href="<%= new_contact_path %>">Contact Us</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li class="mobile-menu-title">
                <div class="user-view">
                  <h4>THE NAIL PARLOR</h4>
                  <hr>
                </div>
              </li>
              <li><a href="<%= root_path %>">Home</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#services">Services</a></li>
              <li><a href="<%= new_contact_path %>">Contact Us</a></li>
            </ul>
          <%else%>
            <ul class="right hide-on-med-and-down">
              <li><a href="<%= root_path%>">Home</a></li>
              <li><a href="<%= root_path%>#about">About Us</a></li>
              <li><a href="<%= root_path%>#services">Services</a></li>
              <li><a href="<%= new_contact_path %>">Contact Us</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li class="mobile-menu-title">
                <div class="user-view">
                  <h4>THE NAIL PARLOR</h4>
                  <hr>
                </div>
              </li>
              <li><a href="<%= root_path %>">Home</a></li>
              <li><a href="<%= root_path%>#about">About Us</a></li>
              <li><a href="<%= root_path%>#services">Services</a></li>
              <li><a href="<%= new_contact_path%>">Contact Us</a></li>
            </ul>
           <%end%>
        </div>
      </div>
    </nav>
  </div>
<%= yield %>

<div id="footer" class="row">
  <div class="container">
    <div class="location col s12 l7">
      <p class="location-title">Our Location</p>
      <p><a href="https://www.google.com/maps/place/The+Nail+Parlor/@35.8625901,-86.8472108,17z/data=!3m1!4b1!4m5!3m4!1s0x886380977a7c38bf:0xb787c154688df4d0!8m2!3d35.8625858!4d-86.8450221" target="_blank">4001 Hughes Crossing #181, Franklin, TN 37064</a></p>
      <p><a href="tel:615591443">(615) 591-443</a></p>
      <p>Find Us on <a href="https://www.facebook.com/THENAILPARLOR.TN/" target="_blank">Facebook</a></p>
    </div>
    <div class="col s12 l5 hours">
      <p class="hours-title">THE NAIL PARLOR Hours</p>
      <div class="col s6">
        <p>Monday - Saturday</p>
        <p class="work-hours">9:00AM - 7:00PM</p>
      </div>
      <div class="col s6">
        <p>Sunday</p>
        <p class="work-hours">12:00PM - 5:00PM</p>
      </div>

    </div>
  </div>
</div>
<div class="row bottom-footer">
  <div class="container">
    <p>Copyright 2017 All Rights Reserved by THE NAIL PARLOR. Website created by
      <a href="http://www.espinozabrand.com" target="_blank">EspinozaBrand</a>
    </p>
  </div>
</div>

<script type="text/javascript">
  $(".button-collapse").sideNav();
</script>

</body>
</html>
